var sql = require("mssql");

const dbConfig = {
	user: 'arc_owner',
	password: '14LetterWord!!',
	server: 'arc-nonpro.ct7xhplld31m.us-west-2.rds.amazonaws.com', 
	database: 'arc_dev' 
};

export class GenericDao{

    //Function to connect to database and execute query
public  executeQuery = function(res:any, query:any){	
	sql.connect(dbConfig, function (err:any) {
		if (err) {   
            console.log("Error while connecting database :- " + err);
            sql.close();
			res.send(err);
		}
		else {
			// create Request object
			var request = new sql.Request();
			// query to the database
			request.query(query, function (err:any, response:any) {
				if (err) {
					console.log("Error while querying database :- " + err);
					res.send(err);
				}
				else {
					res.send(response);
				}
			});
		}
	});	
}

}